/*Colors: 
#70A9DB
#86DBCC
#DC9963
#5C544E
#4E555C
#4E5C59

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    height:100%;
  }

body {
  background-color: rgb(205, 226, 229);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1 {
  color: rgb(0, 0, 33);
}
p {
  color: rgb(34, 35, 75);
}

/* Add a black background color to the top navigation */
.topnav {
    margin:0px;
    padding:0;
    background-color: #333475;
    overflow: hidden;
    width:100%;
    position: fixed;
    top:0;
    height:10%;
  }
 

  /* Style the links inside the navigation bar */
  .topnav a {
    font-family:'Courier New', Courier, monospace;
    float: right;
    color: #f2f2f2;
    text-align: center;
    margin-right: 10px;
    margin-top:7px;
    margin-bottom: 0px;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #eba66b;
    color: black;
  }
  .topnav-left{
    font-family:'Courier New', Courier, monospace;
    font-size:25px;
    left:10px;
    float: left;
    color: white;
  }
  .topnav-left a{
    font-size: 25px;
  }

  /* Change the color of links on hover */
  .topnav-left a:hover {
    background-color: #333475;
    color: lightgray;
  }
  
  /* Add a color to the active/current link */
  .topnav-left a.active {
    background-color: #333475;
    color: white;
  }

  .logo-image{
    width: 46px;
    height: 46px;
    display:inline;
    overflow: hidden;
  
}


.containermain {
    margin:2%;
    margin-top: 7%;
    height:100%;
    width:100%;
    background-color: #eba66b;
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
    overflow: hidden;
    display:table;
}

.countermain div{
    padding:2%;
    margin:2%;
    flex:50%;
    float: center;
}

.main-imgcolumn img{
    
    width:100%;
    vertical-align:middle;
}


th{
    width:50%;
    height:100%;
    border:2px;
    border-color: black;
}
tr{
    height:100%;
}

.footer{
    margin:0px;
    padding:0;
    background-color: #333475;
    overflow: hidden;
    width:100%;
    margin-bottom:0;
    
    height:5%;
}
.footer p{
    float:right;
    padding:10px;
    color:white;
}